#container {
    position: absolute;
    right: 100px;
    left: 100px;
    top: 0px;
    bottom: 0px;
    min-width: 1000px;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 800px;
    background-color: rgba(213, 153, 91, 0.3);

}

#header {
    position: absolute;
    left: 30px;
    top: 20px;
}

#headerLine {
    position: absolute;
    right: 15px;
    left: 15px;
    top: 80px;
    height: 50px;
}

#navigation {
    position: absolute;
    right: 10px;
    top: 10px;


}

#locale {
    position: absolute;
    left: 20px;
    top: 10px;
}

#content {
    position: absolute;
    top: 100px;
    left: 10px;
    right: 10px;
    height: 90%;
}

#filters {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 400px;
    width: 30%;
}

#pages {
    position: absolute;
    bottom: 20px;
}

#authBox {
    position: absolute;
    top: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#userInfo {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 20%;
    text-align: center;
}

#userNote {
    height: 60px;
    margin-bottom: 10px;
}

#table {
    position: absolute;
    top: 60px;
    right: 15px;
    width: 70%;
    height: auto;
}

#controlTable {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 80%;
    height: auto;
}

#buttons {
    position: absolute;
    top: 80px;
    left: 20px;
}

#bookEdit {
    position: absolute;
    top: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#userId{
   position: absolute;
    top: 55px;
    right: 50px;
}

