#bookElem {
    height: 80px;
    min-width: 350px;
    margin-bottom: 15px;
}

#bookInfo {
    position: relative;
    left: 25px;
    bottom: 0px;
    top: 0px;
}

#reserveInfo {
    float: right;
    margin-top:-75px;
    margin-right: 20px;
}

#removeBlock{
    float:right;
    margin-top: -23px;
    margin-right: 6px;
}

#pages{
    position: absolute;
    bottom: -30px;
    width: 60%;
    right: 20px;
}

#list {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 60%;
    height: auto;
}



