.dark {
    background-color: #462312;
    border-radius: 5px;
}

.lightPanel {
    border-radius: 4px;
    border: 1px solid #D5995B;
    background-color: #fffef2;
}

span.boldTitle {
    font-weight: bold;
    color: #1B1924;
}

span.lightText {
    color: rgb(191, 171, 174);
}

a.reserveButton {
    background-color: #D8913D;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button.reserveButton {
    background-color: #D8913D;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    outline:none;
    font-size: 14px;
    cursor: pointer;
}

p.label {
    color: #59232C;
    font-size: 14px;
    font-weight: 900;
}

input.searchLine {
    width: 85%;
    height: 25px;
    margin-top: 1px;
    margin-bottom: 10px;
}

input.login {
    width: 200px;
    height: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

p.error {
    color: #d1183a;
    font-size: 14px;
    font-weight: 900;
}

p.success {
    color: #3e9b19;
    font-size: 14px;
    font-weight: 900;
}

span.tableTitle {
    font-size: 18px;
    font-weight: 900;
    color: #5B3828;
}

tr.space td {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    text-align: center;
}

button.listButton {
    background-color: #59232C;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    outline:none;
    cursor: pointer;
}

input.buttonInput {
    background-color: #D8913D;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    outline:none;
    font-size: 14px;
    cursor: pointer;
}

img.langImg{
    cursor: pointer;

}

a.page{
    color: #59232C;
    font-size: 16px;
    font-weight: 900;
}

table.reg{
    margin-left:auto;
    margin-right:auto;
}

table.notesHist{
    min-width: 600px;
}

body{
   // background-color: #c9b980;
}
