a.light {
    color: #D8913D;
    text-decoration: none;
    font-weight: 900;
}
a:hover {
    text-decoration: underline;
}

a.title{
    text-decoration: none;
    font-weight: 900;
    font-size: 35px;
    color: #59232C;

}
a:hover {
    text-decoration: underline;
}